/* Any comments are suggestions for styling! Feel free to style your website any way that you want */
/* Global Styling */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

select,
input,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

/* Navbar Styling */

#navbar {
    /*
    - Change background color to #f9a857
    - Turn the navbar into a flex container w/ space between items
    - Align the items vertically across the center
    - Add a bottom margin of 35px
    - Add a padding of 25px to thicken navbar
    */
    background-color: #f9a857;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 35px;
}

.title a {
    /*
    - Change font color to white
    - Set font size to 25px
    - Get rid of the link underline with text-decoration
    - Bold the text
    */
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navButtons a {
    /*
    - Add padding of 14px
    - Add 1px solid white border 
    - Add border radius of 10px for rounded corners
    - Change font color to white
    - Set font size to 25px
    - Get rid of the link underline with text-decoration
    */
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    text-wrap: nowrap;
}

/* Homepage Styling */
h2 {
    text-align: center;
}

/* Trips Section Styling */
.tripsContainer {
    /*
  - Allow for a flexible box layout where child elements (trip boxes) will be aligned
  - Center the trip boxes horizontally within the container
  - Center the trip boxes vertically within the container
  - Center the container horizontally within its parent
  - Set the container width to 80% of its parent
  - Add a 20px space between each trip box
*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* NOTE - horizontally centers element within parent */
    width: 80%;
    gap: 20px;
}

.tripBox {
    /* 
  - Make each trip box take an equal portion of the container space
  - Add a 20px padding inside each trip box for spacing content
  - Give the trip box a light orange background
  - Center the text inside each trip box
  - Round the corners of each trip box by 8px
  - Add a shadow around each trip box
*/
    flex: 1;
    padding: 5px;
    background-color: #f7cda3;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Upload Page Section */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.tripForm {
    display: flex;
    flex-direction: column;
}

.tripForm label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tripForm input,
.tripForm textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.tripForm button {
    padding: 10px;
    font-size: 16px;
    background-color: #f9a857;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tripForm button:hover {
    background-color: #e08e38;
}
