/* Navbar Styling */

.navbar {
    /*
    - Change background color to #f9a857
    - Turn the navbar into a flex container w/ space between items
    - Align the items vertically across the center
    - Add a bottom margin of 35px
    - Add a padding of 25px to thicken navbar
    */
    background-color: #f9a857;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 25px;
}

.title {
    /*
    - Center logo with title
    */
    display: flex;
    align-items: center;
    gap: 10px;
}

.title a {
    /*
    - Change font color to white
    - Set font size to 35px
    - Get rid of the link underline with text-decoration
    - Bold the text
    */
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.navButtons {
    /*
    - Add spacing between tabs
    */
    display: flex;
    gap: 10px;
}

.navButtons a {
    /*
    - Add padding of 14px
    - Add 1px solid white border 
    - Add border radius of 10px for rounded corners
    - Change font color to white
    - Set font size to 20px
    - Get rid of the link underline with text-decoration
    */
    padding: 14px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}