/* Homepage Styling */

/* .main {
  margin-bottom: 20px;
} */

.title {
  text-align: center;
}

/* Trips Section Styling */
.tripContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  width: 80%;
  gap: 20px;
}

.tripBox {
  flex: 1;
  /* flex-direction: column;
  gap: 20px;
  flex: 1; */
}

.tripBox h3 {
  padding: 20px;
  background-color: #f7cda3;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}